<div class="logos">
  <div class="flex space-x-32">
    <div class="logos-slide flex flex-row space-x-32">
      <p>Franelas</p>
      <p>Bolsas Eco</p>
      <p>Tazas</p>
      <p>Estampados</p>
      <p>Hoodies</p>
      <p>Chemisse</p>
      <p>Bordados</p>
      <p>Sudsderas</p>
    </div>
    <div class="logos-slide flex flex-row space-x-32">
      <p>Franelas</p>
      <p>Bolsas Eco</p>
      <p>Tazas</p>
      <p>Estampados</p>
      <p>Hoodies</p>
      <p>Chemisse</p>
      <p>Bordados</p>
      <p>Sudsderas</p>
    </div>
  </div>
</div>
