---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import GridServicesCard from "../components/grids/GridServicesCard.astro";
import GridClients from "../components/grids/GridClients.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <SectionContainer
      id="main"
      backGroundColor="bg-gradient-to-br from-green-100 to-green-300"
    >
      <div class="flex flex-col lg:flex-row lg:gap-x-32 gap-y-10">
        <section class="lg:w-6/12 space-y-10 md:mt-10">
          <h1 class="font-bold text-3xl sm:text-5xl">
            Impresión y <span
              class="bg-gradient-to-r from-yellow-600 to-pink-600 bg-clip-text text-transparent"
              >Personalización</span
            > de Calidad
          </h1>

          <h3 class="text-xl text-black/90">
            MaxPrint ofrece servicios de estampado, uniformes y gorras
            personalizados para tu negocio o evento.
          </h3>
          <button
            type="button"
            class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          >
            Contáctanos
          </button>
        </section>
        <section class="relative">
          <div
            class="bg-gradient-to-r from-transparent to-black/60 p-4 rounded-xl overflow-hidden shadow-sm"
          >
            <img
              src="/commercial/shirtInformation.webp"
              width="600px"
              class="rounded-lg w-full lg:w-auto"
            />
          </div>
        </section>
      </div>
    </SectionContainer>
    <SectionContainer id="services" backGroundColor="bg-gray-50">
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col justify-center items-center space-y-2 w-full md:w-1/3">
          <h2 class="text-3xl font-bold w-full text-center">Nuestros Servicios</h2>
          <h3>
            Ofrecemos una amplia gama de servicios de impresión y
            personalización para satisfacer todas tus necesidades.
          </h3>
        </div>
        <section class="mt-10 w-full md:w-4/5"><GridServicesCard /></section>
      </div>
    </SectionContainer>
    <SectionContainer id="testimonials" backGroundColor="bg-white">
      <div class="flex flex-col justify-center items-center space-y-2">
        <h2 class="text-3xl font-bold">Testimonios de Clientes</h2>
        <h3>Lo Que Dicen Nuestros Clientes</h3>
      </div>
      <section class="flex justify-center mt-5">
        <GridClients />
      </section>
    </SectionContainer>
  </main>
</Layout>
