---
import Instagram from "../icons/Instagram.astro";
import Facebook from "../icons/Facebook.astro";
---

<footer class="py-10 px-5 sm:px-24 bg-black/70 text-white">
  <section class="flex justify-between">
    <iframe
      class="rounded-md w-36 h-20 md:w-72 md:h-36"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1911.8778042531044!2d-66.90786018365728!3d10.47980326946301!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a5f3461f70ed1%3A0xb758d625b48aafa0!2sAv.%20Roosevelt%2C%20Caracas%2C%20Distrito%20Capital%2C%20Venezuela!5e0!3m2!1ses-419!2scl!4v1722887659702!5m2!1ses-419!2scl"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <section class="flex space-x-2 items-end">
      <Instagram />
      <Facebook />
    </section>
  </section>
  <p class="w-auto text-center mt-10">Hecho por Davicc</p>
</footer>
