<header class="bg-white py-4 px-5 sm:px-24 flex justify-between items-center">
  <img src="/maxPrint-logo.png" width="150px" />
  <section class="hidden xl:block">
    <ul class="flex space-x-5">
      <li class="hover:text-slate-800">
        <a href="#services" class="text-slate-600 hover:text-slate-800">
          Servicios
        </a>
      </li>
      <li class="hover:text-slate-800">Sobre Nosotros</li>
      <li class="hover:text-slate-800">
        <a href="#testimonials" class="text-slate-600 hover:text-slate-800"
          >Clientes</a
        >
      </li>
    </ul>
  </section>
</header>
